.hideArticle{
    display: none;
}

body{
    margin: 0%;
    padding: 0%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 240, 240);
}
.appName{
    font-family: "Lucida Console", Courier, monospace;
    flex-direction: column;
    animation-name: hideAppName, visibleAppName;
    animation-duration: 3.3s, 10s;
    animation-delay: 0s, 3.3s;
    animation-timing-function: ease,ease;
    animation-iteration-count: 1, infinite;
}
#appNameMain{
    color: #023E73;
    text-align: center;
    font-size: 6rem;
}
#appNameSub{
    color: #1868ae;
    text-align: center;
    font-size: 3.6rem;
}
.logo{
    background-color: white;
    border-radius: 1rem;
    cursor: pointer;
    width: 60rem;
    display: flex;
    flex-direction: column;
}
.section1{
    display: flex;
    align-items: center;
    width: 60rem;
    height: 30rem;
}
.section2{
    display: flex;
    justify-content: space-evenly;
    width: 60rem;
    align-items: center;
    margin-bottom: 2rem;
}
.click{
    display: flex;
    justify-content: center;
    text-align: center;
    animation-name: hideClick, blinkingText;
    animation-duration: 3.3s, 1.5s;
    animation-delay: 0s, 3.3s;
    animation-timing-function: ease, ease-in-out;
    animation-iteration-count: 1, infinite;
}
#appLogo{
    margin-left: 60px;
    position: relative;
    animation-name: fade, sizeDown, slideLeft;
    animation-duration: .5s, 1.3s, 1.5s;
    animation-delay: 0s , .5s, 1.8s;
    animation-timing-function: ease, ease, ease;
}
@keyframes fade {
    from{
        left: 19%;
        height: 550px;
        opacity: 0;
    }
    to{
        left: 19%;
        height: 550px;
        opacity: 1;
    }    
}
@keyframes sizeDown{
    from{
        left: 19%;
        height: 550px;
    }
    to{
        left: 23%;
        height: 450px;
    }
} 
@keyframes slideLeft{
    from{
        left: 23%;
    }
    to{
        left: 0;
    }
}
@keyframes hideAppName {
    from{
        display: none;
    }
    to{
        display: none;
    }
}
@keyframes visibleAppName {
    from{
        display: none;
    }
    to{
        display: flex;
        justify-content: center;
    }
}
@keyframes hideClick {
    from{
        visibility: hidden;
    }
    to{
        visibility: hidden;
    }
}
@keyframes blinkingText {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
