body, h1, h2, h3, p, ul, li, figure, header, footer, nav {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    cursor: pointer;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
    color: #333;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #27ae60; 
    color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 1000;
}

header figure img {
    height: 60px;
}

header nav ul {
    display: flex;
    gap: 15px;
    list-style-type: none;
}

header nav ul a{
    color: white;
    text-decoration: none;
    font-family: Arial, sans-serif;

}

header nav ul a {
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

header nav ul a:hover {
    background-color: #1e8c4e;
}

header nav ul .activeTab {
    background-color: #1e8c4e; 
    font-weight: bold;
}

main {
    padding: 20px;
    text-align: center;
    min-height: 70vh;
    background-image: url("../../pictures/bg_image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 20px auto;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 30px 20px 30px 20px;
    text-align: center;
}

footer .socialMedia {
    margin: 0 30%;
    display: flex;
    justify-content:space-around;
    gap: 20px;
    margin-bottom: 10px;
}

footer .socialMedia div a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

footer .socialMedia div a:hover {
    color: #27ae60; 
}

footer nav ul {
    display: flex;
    justify-content: center;
    gap: 15px;
    list-style-type: none;
    padding: 10px 0;
}

footer nav ul a {
    color: white;
    text-decoration: none;
}

footer nav ul li:hover {
    color: #27ae60;
    text-decoration: underline;
}

footer p {
    font-size: 14px;
    line-height: 1.4;
}

@media (max-width: 768px) {
    header {
        flex-wrap: wrap;
        justify-content: center;
    }

    header figure img {
        margin-bottom: 10px;
    }

    header nav ul {
        flex-direction: column;
        gap: 10px;
    }

    footer .socialMedia {
        flex-direction: column;
    }

    footer nav ul {
        flex-direction: column;
    }
}

