body{
    background-image: url("../../pictures/background_img1.avif");
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    background-attachment: fixed;
}

main{
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main section{
    padding: 0%;
    box-sizing: border-box;
    min-width: 70%;
    border-radius: 0 7vh 7vh 7vh;
    border-bottom: .6vh solid #27ae60;
}

#siteLogo{
    margin-top: 1vh;
    height: 25vh;
    padding: 1vh;

}

section h2{
    font-size: xx-large;
    background-color: #27ae60;
    border-radius:0 7vh 0 3vh;
    padding: 1vh;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

.container{
    padding: 3vh 5vh 3vh 5vh;
    font-size: large;
}

.container img{
    height: 40vh;
    border-radius: 2vh;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

.container ul{
    list-style-type: none;
}