.popup-section div{
    width: 100%;
}
#closeBtn{
    float: right;
    height: 100%;
    max-width: 20%;
    padding: 1vh;
    background-color: red;
    border: black 2px solid;
    border-radius: 1vh;
}

#closeBtn:hover{
    background-color: rgb(239, 70, 70);
}

#closeBtn > i{
    padding: .5vh;
}

.popup-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    z-index: 999;
}
.popup-box {
    padding: 5vh;
    border-radius: 1vh;
    text-align: center;
}
.popup-box h1{
    font-size: x-large;
}
.popup-box input {
    padding: 1vh 1.5vh;
    font-size: larger;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    background-color: #fff;
    transition: 0.3s;
}

.popup-box input:focus {
    border-color: #388e3c;
    box-shadow: 0 0 5px rgba(56, 142, 60, 0.3);
}

.popup-box button {
    margin-top: 2vh;
    font-size: large;
    padding: 1vh 2vh;
    background-color: #27ae60;
    color: white;
    border: none;
    border-radius: .7vh;
}
.popup-box button:hover {
    background-color: #388e3c;
}

