body{
    background: url("../../pictures/background_img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh ;
    box-sizing: border-box;
    margin: 0%;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
    color: #333;

}

body section{
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

section{
    height: 60vh;
    width: 50%;
    display: flex;
    flex-direction: column;
}

#closeBtn{
    float: right;
    height: 100%;
    max-width: 20%;
    padding: 1vh;
    background-color: red;
    border: black 2px solid;
    border-radius: 1vh;
}

#closeBtn:hover{
    background-color: rgb(239, 70, 70);
}

#closeBtn > i{
    padding: .5vh;
}

#formName{
    justify-self: center;
    align-self: center;
    font-weight: normal;
    font-size: x-large;
    padding: 0%;
}

#formName h2{
    text-align: center;
    margin: 2vh 0;
}


#userConfirmForm{
    margin-top: 1vh;
    width: 100%;
    padding: 0 6%;
    display: flex;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.maindiv{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.maindiv > div > label{
    font-size: large;
    font-weight: 550;
}

.formBtns{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#userConfirmForm input {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

form input:focus {
    outline: none;
    border-color: #27ae60;
    box-shadow: 0 0 5px rgba(39, 174, 96, 0.3);
}

form button {
    width: 45%;
    padding: 10px;
    margin-top: 10px;
    background-color: #27ae60;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

form button:hover {
    background-color: #2ecc71;
}

.errorMessage > p{
    color: red;
    text-align: center;
}