.grocery-app {
    min-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main select{
    padding: 7px 14px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: .5vh;
    outline: none;
    background-color: #fff;
    transition: 0.3s;
}
main select:focus{
    border-color: #388e3c;
    box-shadow: 0 0 5px rgba(56, 142, 60, 0.3);
}

.itemDescription {
    background-color: #e6f4ea;
    border-radius: 1vh;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 128, 0, 0.2);
}

.itemDescription input {
    border: 1px solid #ccc;
    outline: none;
    background-color: #fff;
    transition: 0.3s;
    margin: 1vh;
    padding: 1vh;
    border-radius: .5vh;
    font-size: 2vh;
}

.itemDescription input:focus {
    border-color: #388e3c;
    box-shadow: 0 0 5px rgba(56, 142, 60, 0.3);
}

.itemDescription button {
    padding: 1vh 2vh;
    background-color: #27ae60;
    border: none;
    border-radius: .7vh;
    color: white;
    font-size: 2vh;
}

.itemDescription button:hover {
    background-color: #388e3c;
}

.itemDescription h2 {
    color: #2e7d32;
    font-size: x-large;
}

#addItemForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.groceryListSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.menu{
    position: relative; 
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1vh;
}
.menu button {
    border: none;
    border-radius: .7vh;
    padding: 1.2vh;
    color: white;
    background-color: #27ae60;
}

.menu button:hover{
    background-color: #388e3c;
}

#menuList {
    color: black;
    overflow: hidden;
    position: absolute;
    top: 100%; /* places the menu directly below the button */
    right: 0;  /* aligns it with the right edge of the button */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0;
    margin-top: .1vh;
    list-style: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 100;
    display: none;
}
  
#menuList li button {
    color: black;

    margin: 0%;
    display: block;
    width: 100%;
    padding: 10px 15px;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}
  
#menuList li button:hover {
    background-color: #f5f5f5;
}

.groceryList{

    border-radius: 1vh;
    overflow: hidden;
    background-color: #e6f4ea;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#listHeading {
    background-color: #27ae60;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: .5vh 1vh;
}

#currentListName {
    color: white;
}
.listOptions{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: .5vh;
}
.listOptions div button{
    min-width: 4vh;
    min-height: 4vh;
    background-color: white;
    color: #27ae60;
    border: none;
    border-radius: .5vh;
}

.listOptions div button:hover{
    color: #388e3c;
}

#download{
    position: relative; 
    display: flex;
}
#downloadMenuList {
    width: 17vh;
    overflow: hidden;
    position: absolute;
    top: 100%; /* places the menu directly below the button */
    right: 0;  /* aligns it with the right edge of the button */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0;
    margin-top: .1vh;
    list-style: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 100;
    display: none;
}
  
#downloadMenuList li button {
    color: black;
    margin: 0%;
    display: block;
    width: 100%;
    padding: 10px 15px;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}
  
#downloadMenuList li button:hover {
    background-color: #f5f5f5;
}

.list-display{
    box-sizing: border-box;

    min-width: 100%;
    min-height: 50vh;
    margin: 0%;
}
.list-display table{
    width: 100%;
}
.list-display table tr{
    width: 100%;
}

